<% layout('layouts/boilerplate') -%>

  <hr>
  <h2>Notes for <%=`${patient.firstName} ${patient.lastName}`%>
  </h2>
  <hr>
  <a class="btn btn-secondary" href="/patients/<%=patient.id%>">Back</a>
  <a class="btn btn-info" href="/patients/<%=patient.id%>/newNote">Add new note</a>
  <br>
  <br>
  <div>(Scroll down for older notes)</div>
  <br>
  <div class="container center">
    <% if (!notes[0]) { %>
      <h4>No notes currently exist for this patient</h4>
      <% } else { %>
        <% for (note of notes) { %>
          <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body">
              <p class="card-text small">
                <%=note.body%>
              </p>
              <p class="card-text text-secondary">Author: <%=note.author%>
              </p>
              <%=note.date.toTimeString().split('G')[0]%>
                <br>
                <%=note.date.toDateString()%>
            </div>
          </div>
          <% }} %>
  </div>